
@{
    ViewBag.Title = "Index";
}

<h2>Members</h2>

<form id="MyForm">
    <input type="hidden" readonly id="ID" name="ID" />
    <input type="text" id="Name" name="Name" />
    <input type="text" id="age" name="age" />
    <input type="button" id="btnAdd" value="SAVE" onclick="Add() " />
</form>

<br/>
<h3>Via Partial View</h3>
<div id="loadListHere"></div>
<hr />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<h3>Via Mustache js</h3>
<div id="cnt"></div>

<div id="attachHere">
    
</div>


<script id="myTemplate" type="text/template">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th><th>Age</th><th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#data2}}
            <tr>
                <td>{{Name}}</td>
                <td>{{age}}</td>
                <td>
                    <a href="#" onclick="populateAddForm('{{ID}}', '{{Name}}', '{{age}}' )">Edit</a> |
                    <a href="#" onclick="deleteMember({{ID}})">Delete</a>
                </td>
            </tr>
            {{/data2}}
        </tbody>        
    </table>
</script>


<script src="~/Scripts/mustache.js-master/mustache.min.js"></script>

<script>

    $(document).ready( function () {
        loadListOfMembers();
        RenderTable();
        // MustachRendering();
    });



    function RenderTable() {
        var template = $("#myTemplate").html();
        $.get('MemberListJson', null, function (data) {
            var obj = { data2: data };
            var html = Mustache.to_html(template, obj);
            // $(html).appendTo("#attachHere");
            $("#attachHere").html(html);

        });
    }

/*
    function MustachRendering() {
        var template = "<li>{{Name}}</li>";

        $.get('MemberListJson', null, function(data) {
            for (var i = 0, member; (member = data[i]) ; ++i) {
                var html = Mustache.to_html(template, member);
                $(html).appendTo("#cnt");
               // alert();
            }
        });
    }*/


    //loads the list of all the members
    function loadListOfMembers() {
        $.get('ListOfMembers', null, function (data) {
            $('#loadListHere').html(data);
        });
    }

    //deletes the selected member
    function deleteMember(id) {
        $.post('Delete/' + id, null, function (data) {
            loadListOfMembers();
            RenderTable();
            alert(data);
        });
    };

    //Populate the edit form on clicking edit button
    function populateAddForm(id, name, age) {
        $('#ID').val(id);
        $('#Name').val(name);
        $('#age').val(age);
    }

    //adds or edit member
    function Add() {
        $.post('Save', $('#MyForm').serializeArray(), function (data) {
            CleanFields();
            loadListOfMembers();
            RenderTable();
            alert(data);
        });
    }

    //cleans the input fields 
    function CleanFields() {
        $('#ID').val('');
        $('#Name').val('');
        $('#age').val('');
    }


</script>



